

div.block-container.css-18e3th9.egzxvld2{
    padding: 3% 10% 5% 10%;
}

div.css-3kmjoc.e1tzin5v0{
    background-color: #16113a;
    color: #fff;
}
div.css-bfkcju.e1tzin5v0{
    background-color: #16113a;
}
div.css-k0sv6k.e8zbici2{
    background-color: #16113a;
}
div.stApp.css-fg4pbf.eczokvf0{
    background-color: #16113a; 
}
div.css-12w0qpk.e1tzin5v2{
    background-color:#272953;
    border: 2px;
    border-radius: 10px;   
    height: 100px;
    text-align: center;
}
div.user-select-none svg-container{
    width: 250px;
    height: 250px;
}
div.css-1ht1j8u.e16fv1kl3{
    color: aliceblue;
}
div.plot-container.plotly{
    background-color: #272953;
}
div.css-90qg9c{
    width: 250px;
    height: 250px;
    background-color: #272953;
}
div.css-1njjmvq.e1tzin5v0{
    width: 250px;
    height: 250px;
    background-color: #272953;
}
div.css-keje6w.e1tzin5v2{
    width: 450px;
    height: 250px;
}
div.user-select-none.svg-container{
    background-color: #272953;
    border: 2px;
    padding: 5% 5% 5% 10%;
    border-radius: 10px;
    width: 250;
}
div.css-1adrfps.e1fqkh3o2{
    width: 15rem;
    background-color: #CDDEEE;
}

div#app{
    background-color: #272953;
}
div.container-xxl d-flex flex-column flex-shrink-0 p-h nav-justified{
    background-color: #272953;
    color: #fff;
}
div.st-b4.st-b7.st-dj.st-b2.st-bq.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-br.st-bw{
    background-color: rgb(225, 222, 222);
    width: 200px;
    height: 30px;
    color: #272953;
}
div.st-b4.st-b7.st-df.st-b2.st-bq.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-br.st-bw{
    background-color: #c3ced8;
}
div.css-1nnn0hm.e1jwn65y3{
    background-color: #c3ced8;
}
div.css-1nnn0hm.e1jwn65y3{
    background-color: #c3ced8;
}